@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background: #28223F;
  position: relative;
  min-height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}